@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    background-color: #fbfbfb;
}

body,h1,h2,h3,h4,h5,h6,pre,p,a,form,input {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.container {
    max-width: 780px;
    margin: 0 auto;
}
.card-flat {
    margin-top: 100px;
    background-color: #fff;
    padding: 50px;
}
.logo-container {
    text-align: center;
}
.logo-image {
    width: 70%
}